body {
    background-color: bisque;
    font-family:Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif ;
    text-align: center;
}
h1 {
    text-align: center;
    border-style: dashed;
    border-left-style: hidden;
    border-right-style: hidden;
    display: inline-block;
    margin-bottom: 100px;
    margin-right: 50px;

}
.homelist ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 200px;

}
