body {
    background-color: bisque;
    font-family:Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif ;
    text-align: center;
}
.mainheading {
    text-align: center;
    border-style: dashed;
    border: 4px solid #565656;
    display: inline-block;
    margin: 0 50px 100px 0;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #c6e0e4;


}
.homelist ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 200px;

}
.homelist ul li {
    border: 2px solid black;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #f2f2f2;

}
.homelist ul li a {
    text-decoration: none;
    color: black;
    display: block;
}
.homelist ul li:hover {
    background-color: #333;
    transform: scale(1.05);
}
.homelist ul li a:hover {
    color: white;
}
.container {
    margin: 80px auto;
    max-width: 800px; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 15px;
}
.section1 {
    margin-bottom: 30px;
}
#headingmenemen {
    text-align: center;
    border: 3px solid #DEA8A8;
    display: inline-block;
    margin:  20px 0;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: #F9FDE1;
}
.container ul, ol {
    list-style:disc;
    padding: 10px;
    text-align: left;
    display: inline-block;

}